.admin-dashboard {
    padding: 20px;
    align-items: center;
  }
  
  /* .add-bus-form, .edit-bus-form {
    display: flex;
    
    justify-content: center;
    margin-bottom: 30px;
    padding-left: auto;
   
  } */
  
  input {
    margin-right: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: lightgray; /* Light gray for disabled button */
    color: darkgray; /* Dark gray text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  }
  
  
  button:hover {
    background-color: #45a049;
  }
  
  .bus-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .bus-table th, .bus-table td {
    color: black;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .bus-table th {
    background-color: #f2f2f2;
  }
  
  .editbutton
  {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;

  }

  .deletebutton
  {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

  }

  .form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .add-bus-form, .edit-bus-form {
    flex: 1; /* Ensures both forms take up equal space */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .bus-list {
    margin-top: 30px;
  }