.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f8fc;
}

.dashboard-title {
  text-align: left;
  color: #333;
  margin-bottom: 30px;
}

.user-info-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-align: left;
}

.user-info-card h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #444;
}

.user-info-card p {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.bookings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.booking-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-details {
  margin-bottom: 20px;
}

.booking-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking-info {
  flex: 1;
  margin-right: 10px;
  min-width: 200px;
}

.booking-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.cancel-booking-button {
  width: fit-content;
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.cancel-booking-button:hover {
  background-color: #e63939;
}

@media (max-width: 600px) {
  .booking-card {
      padding: 15px;
  }

  .bookings-grid {
      grid-template-columns: 1fr;
  }

  .user-info-card {
      padding: 15px;
  }

  .booking-row {
      flex-direction: column;
  }

  .booking-info {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
